@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

#root{
    background-color: rgb(223, 250, 248);
    height: 100vh;
  }
  .App {
    text-align: center;
    background-color: rgb(223, 250, 248);
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }
  
  .card-form{
    width: 500px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #abb5b9;
  }
  
  .list-container{
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-content: center;
    align-items: stretch;
    width: 100%;
  
    }
  
  .list-card{
    margin-left:  5px;
    margin-top: 15px;
    width: 25%;
    background-color: #52477f;
    color: white;
  }
  
  .pag ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  .signOut{
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    background-color: rgb(219, 18, 18);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .headerclass{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }